<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/ui-bootstrap.js"></script>
<script type="text/javascript" src="/js/ui-bootstrap-tpls.js"></script>
<link rel="stylesheet" href="/stylesheets/ui-bootstrap-csp.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<header>
	<nav class="navbar navbar-default">

		<p class="navbar-text">Stock Analysis System</p>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home Page</a></li>
			</ul>
		</div>
	</nav>
</header>