<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<title>Stock</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/ui-bootstrap-csp.css">
	<script src="/js/ui-bootstrap.js"></script>
	<script src="/js/jquery.js" ></script>
</head>
<body>
	<div class="container">
		<div class="col-md-10 col-md-offset-1">.col-md-10 .col-md-offset-1</div>
	</div>
</body>
</html>