<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<title>Stock</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/ui-bootstrap-csp.css">
	<script src="/js/ui-bootstrap.js"></script>
	<script src="/js/jquery.js" ></script>
</head>
<body>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">策略</div>
	<table class="table">
		<tr>
			<th>代码</th>
			<th>策略名字</th>
			<th>5天价格</th>
			<th>5天均差</th>
			<th>5天成功率</th>
			<th>10天价格</th>
			<th>10天均差</th>
			<th>10天成功率</th>
			<th>30天价格</th>
			<th>30天均差</th>
			<th>30天成功率</th>
			<th>60天价格</th>
			<th>60天均差</th>
			<th>60天成功率</th>
			<th>180天价格</th>
			<th>180天均差</th>
			<th>180天成功率</th>
			<th>360天价格</th>
			<th>360天均差</th>
			<th>360天成功率</th>
		</tr>
		<tbody>
			<tr>
				
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>