<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<title>Stock</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/ui-bootstrap-csp.css">
	<script src="/js/ui-bootstrap.js"></script>
	<script src="/js/jquery.js" ></script>
</head>
<body>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
	<table class="table">
		<tr>
			<th>strategy id</th>
			<th>strategy name</th>
			<th>5 days price</th>
			<th>5 days standard deviation</th>
			<th>5 days success rate</th>
			<th>10 days price</th>
			<th>10 days standard deviation</th>
			<th>10 days success rate</th>
			<th>30 days price</th>
			<th>30 days standard deviation</th>
			<th>30 days success rate</th>
			<th>60 days price</th>
			<th>60 days standard deviation</th>
			<th>60 days success rate</th>
			<th>180 days price</th>
			<th>180 days standard deviation</th>
			<th>180 days success rate</th>
			<th>360 days price</th>
			<th>360 days standard deviation</th>
			<th>360 days success rate</th>
		</tr>
		<tbody>
			<tr>
				
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>