<!DOCTYPE html>
<html lang="en"  ng-app="stock">
<head>
	<meta charset="UTF-8">
	<title>Manual Order</title>
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body ng-controller="maunalOrder">
	<%- include('header.ejs'); %>
	<button ng-click="manualFetch">manualFetch</button>
	<br>
	<button ng-click="manualRefreshTools">manualRefreshTools</button>
</body>

</html>