<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Easy get</title>
	
</head>
<body ng-app="stock" ng-controller="ViewStatus">
	<%- include('header.ejs'); %>
</body>
<script type="text/javascript" src="/js/viewStatus.js"></script>
</html>