<!DOCTYPE html>
<html lang="en"  ng-app="stock">
<head>
	<meta charset="UTF-8">
	<title>Test and Result</title>
	<link rel="stylesheet" href="/stylesheets/test.css">
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body ng-controller="test">
	<%- include('header.ejs'); %>
	<table class="table">
		<tr>
			<th class="class_01">Code</th>
			<th class="class_02">Strategy</th>
			<th class="class_03">buy date</th>
			<th class="class_04">15 days</th>
			<th class="class_05">15 days benifit</th>
			<th class="class_06">30 days</th>
			<th class="class_07">30 days benifit</th>
			<th class="class_08">now</th>
			<th class="class_09">now benefit</th>
			<th class="class_10">Price</th>
			<th class="class_11">operate</th>
		</tr>
		<tr>
			<td class="class_01">300021</td>
			<td class="class_02">Three Cannon</td>
			<td class="class_03">2016-12-3</td>
			<td class="class_04">12.03</td>
			<td class="class_05">5%</td>
			<td class="class_06"></td>
			<td class="class_07"></td>
			<td class="class_08"></td>
			<td class="class_09"></td>
			<td class="class_10"></td>
			<td class="class_11"></td>
		</tr>
	</table>
</body>
<script src="/js/test.js"></script>
</html>